@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    padding: 0 2% ;
    margin: 0;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}
nav .profile {
    display: flex;
    align-items: center;
}
nav .profile img {
    width: 40px;
    height: 40px;
     border-radius: 50%;
}
nav .profile h1{
    margin-left: 10px;
    font-size: 15px;

}
nav ul{
    display: flex;
    list-style-type: none;

}
nav ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav ul li:hover{
    border-bottom-color: black;
}
nav ul li a {
    text-decoration: none;
}
.page-content{
    margin: 4%;
}
.page-content header {
    margin: 5%;
    max-width: 80%;
}
.page-content header h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 6vw;

}
.page-content header p{
    line-height: 30px;
    color: gray;
}
.page-content header button{
    background-color: inherit;
    border: none;
    outline: none;
    padding-left:0 ;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.page-content header button:hover{
    color: gray;
    border-bottom-color: black ;
}
.page-content .presentation-image{
    margin-top: 5%;
}
.page-content .presentaion-image img {
max-width: 100%;
height: auto;

}
.page-content .projets-section{
    margin-top: 6%;   
}
.projets-section h1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
   text-transform: uppercase;
   font-size: 3vw;
}
.projects{
    display: flex;
    flex-wrap: wrap;

}
.page-content .projets-section .projects .project{
    margin-right: 20px;
 max-width: 185px; 
}
.page-content .projets-section .projects .project h4 {
    margin: 0;

}
.description{
    font-size: 10px;

}
.dates{
  font-size: 13px;  
  color: gray;

}
footer{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;

}
footer .colone p{
    font-size: 12px;
    color: gray;
    cursor: pointer;

}
footer .colone 
footer .colone p:hover{
    color: white;
}
